---
import "../styles/global.css";
import "../styles/print.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="description" content="Public CV of Mallory Brickerd-Eland, Senior Data Engineer." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <slot />
  </body>
</html>
